/* .explore {
    padding: 50px 150px;
} */

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.explore-image {
    padding: 10px;
    padding-left: 0;
}

.card img {
    height: 180px;
    width: 180px;
}